<div class="container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <!-- <div class="content">
    <div class="customers-tbl">
      <table class="table-container" width="100%" role="table" aria-label="Destinations">
        <thead>
          <tr class="flex-table header" role="rowgroup">
            <th class="flex-row first" role="columnheader">Customer Id</th>
            <th class="flex-row" role="columnheader">Customer fname</th>
            <th class="flex-row" role="columnheader">Customer Lname</th>
            <th class="flex-row" role="columnheader">Customer Email</th>
            <th class="flex-row" role="columnheader">Billing Address</th>
            <th class="flex-row" role="columnheader">Default Shipping Address</th>
            <th class="flex-row" role="columnheader">Country</th>
            <th class="flex-row" role="columnheader">Phone</th>
            <th class="flex-row" role="columnheader">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="flex-table row" role="rowgroup" *ngFor="let customer of customers">
            <td class="flex-row first" role="cell"><span class="flag-icon flag-icon-gb"></span> {{customer.id}}</td>
            <td class="flex-row" role="cell"> {{customer.fname}} </td>
            <td class="flex-row" role="cell"> {{customer.lname}} </td>
            <td class="flex-row" role="cell">{{customer.email}}</td>
            <td class="flex-row" role="cell">{{customer.billingAddress}} </td>
            <td class="flex-row" role="cell"> {{customer.ShippingAddress}} </td>
            <td class="flex-row" role="cell">{{customer.country}}</td>
            <td class="flex-row" role="cell"> {{customer.Phone}} </td>
            <td class="flex-row" role="cell">
            <img src="../../../../assets/images/more-alt.svg" alt="">
            </td>
          </tr>
        </tbody>
      </table>
      <div>
      </div>
    </div>
  </div> -->
</div>
