<div class="container-fluid">
<div class="sidebar">
  <span><a href="">E-commerce</a></span>
<div class="nav-links">
    <div>
        <img src="https://img.icons8.com/metro/26/000000/pie-chart.png"/>
        <a href="">Dashboard</a>
    </div>
    <div>
       
        <img src="../../../assets/icons/shopping-bag.svg"/>
        <a href="">Orders</a>
    </div>
  
   <div>
       <img src="../../../assets/icons/shopping-bag.svg" />
    <a>Products</a>
   </div>
   
    <div>
        <img src="../../../assets/icons/adminInbox.svg"/>
        <a href="">Customers</a>
    </div>
   
    <div>
        <img src="https://img.icons8.com/cotton/64/ffffff/settings--v1.png"/>
        <a href="">Settings</a>
    </div>
<div class="help">
 <img src="../../../assets/icons/help_outline-black-18dp.svg"/>
  <a href="">Help</a>
</div>
</div>
</div>
