<div class="navbar" *ngIf ="userType=='Admin'">
    <input class="search" type="text" placeholder="Search">
    <button type="submit" class="i fa fa-search"></button>
    <a [href]="reports" class="i fa fa-briefcase"></a>
    <a [href]="notifications" class="i fa fa-bell"></a>
    <img class="profile" [attr.src]="image" alt="Profile">
    <a [href]="profile_setting" class="name" >{{name}}</a>
    <span class="userType">{{userType}}</span>
</div>
<div class="navbar" *ngIf ="userType=='user'">
    <div class="logo"> 
        <img [src]="shoppinglogo" class="shoppinglogo" alt="">
    </div>
    <a [href]="homelink" class="logo">E-commerce</a>
    <input type="text" class="search-bar" placeholder="  Search products">
    <button type="submit">
    <img [src]="searchIcon" alt="" class="searchicons">
    </button>
    <a [href]="login" class="profIcon">
        <img [src]="profileIcon" alt="" class="profileIcon">
    </a>
    <a [href]="heartlink" class="heart">
        <img [src]="heartIcon" alt="">
    </a>
    <a [href]="cart" class="cart">
        <img [src]="shoppingBag" alt="">
    </a>
    <ul class="categories">
        <li>Browse by categories</li>
    </ul>
    <a [href]="homeLink" class="homeLink">Home</a>
    <a [href]="shoplink" class="shoplink">Shop</a>
    <a [href]="contactlink" class="contactlink">Contact</a>
</div>
