<div class="container-fluid">
 <div class="content">
 <div class="dash-span">
    <span>Dashboard</span>
 </div>    
 <div class="users">
  <span class="sp1">Total Users</span>
  <span class="sp2">1,200</span>
  <div class="customers">
    <img src="../../../assets/images/Vector (5).png" />
  </div>
 </div>
 <div class="users orders">
    <span class="sp1">Total Orders</span>
    <span class="sp2">1,200</span>
    <div class="customers">
      <img src="../../../assets/images/Vector (6).png" />
    </div>
   </div>
   <div class="users revenue">
    <span class="sp1">Total Revenue</span>
    <span class="sp2">1,200</span>
    <div class="customers">
      <img src="../../../assets/images/dollar.png" />
    </div>
   </div>
   <div class="users sales">
    <span class="sp1">Total Sales</span>
    <span class="sp2">1,200</span>
    <div class="customers">
      <img src="../../../assets/images/Vector (5).png" />
    </div>
   </div>
   <div class="statistics">
    <span>convas statistics</span>
   </div>
   <div class="calendar">
    <span>calendar</span>
   </div>
 </div>
</div>
