<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-popups/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card dataCard" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Total Users</h5>
            <p class="card-text">
              <span>1,200</span>
              <span>
                <img src="../../../assets/images/trending.png"/>
                +250% this month
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card dataCard" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Total Orders</h5>
            <p class="card-text">
              <span>878</span>
              <span>
                <img src="../../../assets/images/trending-down.png"/>
                -40% this month
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card dataCard" style="width: 18rem;">
         <div class="card-body">
            <h5 class="card-title">Total Revenue</h5>
            <p class="card-text">
              <span>&#36;2000</span>
              <span>
                <img src="../../../assets/images/trending.png"/>
                +250% this month
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card dataCard" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Total Sales</h5>
            <p class="card-text">
              <span>1,200</span>
              <span>
                <img src="../../../assets/images/trending.png"/>
                +250% this month
              </span>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="row statistics">
    <div class="col-md-6">
      <div class="card statisticCard">
        <div class="card-body">
          <h5 class="card-title">sales details</h5>
          <span>
            <select class="selectDays">
              <option value="">Last 7 days</option>
              <option value="">Last 14 days</option>
              <option value="">Last 21 days</option>
            </select>
          </span>
          <p class="card-text">

          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card statisticCard">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div>
            <!-- <ejs-calendar id=calendar [value]='value' [min]='minDate' [max]='maxDate' ></ejs-calendar > -->
          </div>

        </div>
      </div>
    </div>
  </div>

</div>






















<!-- <div class="mainContainer">
 <div class="contentModified">
 <div class="dash-span">
    <span>Dashboard</span>
 </div>
 <div class="users">
  <span class="sp1">Total Users</span>
  <span class="sp2">1,200</span>
  <div class="customers">
    <img src="../../../assets/images/Vector (5).png" />
  </div>
  <p>
      <span class="trending">
          <img src="../../../assets/images/trending.png" />
          <span class="number">
              <a href="">+250%</a> this month
          </span>
      </span>
  </p>
 </div>
 <div class="users orders">
    <span class="sp1">Total Orders</span>
    <span class="sp2">878</span>
    <div class="customers">
      <img src="../../../assets/images/Vector (6).png" />
    </div>
    <p>
        <span class="trending">
            <img src="../../../assets/images/trending-down.png" />
            <span class="number">
                <a href="">-40%</a> this month
            </span>
        </span>
    </p>
   </div>
   <div class="users revenue">
    <span class="sp1">Total Revenue</span>
    <span class="sp2">$2000</span>
    <div class="customers">
      <img src="../../../assets/images/dollar.png" />
    </div>
    <p>
        <span class="trending">
            <img src="../../../assets/images/trending.png" />
            <span class="number">
                <a href="">+25%</a> this month
            </span>
        </span>
    </p>
   </div>
   <div class="users sales">
    <span class="sp1">Total Sales</span>
    <span class="sp2">1000</span>
    <div class="customers">
      <img src="../../../assets/images/Vector (5).png" />
    </div>
    <p>
        <span class="trending">
            <img src="../../../assets/images/trending.png" />
            <span class="number">
                <a href="">+1.2%</a> this month
            </span>
        </span>
    </p>
   </div>
   <div class="statistics" onclick="">
    <span>Sales details</span>
            <select class="selection" onclick="displayCalendar($value)">
                <option value="">Last 7 days</option>
                <option value="">Last 21 days</option>
                <option value="">Last 28 days</option>
                <option value="">Last 35 days</option>
                <option value="">Last 42 days</option>
                </select>
   </div>
   <div class="calendar">
    <span>calendar</span>
   </div>
 </div>
</div> -->
