<div class="container-fluid">
    <div class="container-header">
         <h4>New products</h4>
         <div class="filters">
             <div>
                <h4>Filters</h4>
                <img src="../../../../assets/icons/black-select-icon.png" alt="select icon">
             </div>
             <div>
                <h4>Solt by latest</h4>
                <img src="../../../../assets/icons/black-select-icon.png" alt="select icon">

             </div>
         </div>
    </div>
    <div class="products-wrappers">
        <div class="product-container">
            
        </div>
    </div>
</div>