@import "src/variables.scss";

.container-fluid{
     .top-desc {
      margin-top:4em;
      text-align:center;
      }
      .top-desc a{
       text-decoration:none;
       text-align:center;
       color:$base-color;
       }
     .sidebar {
      margin: 0;
      padding: 0;
      width: 250px;
      background-color: #ffffff;
      position: fixed;
      height: 100%;
      overflow: auto;
      left: 0;
      top: 0;
      box-shadow: 0.5px 0px 0px 0px $table-border;

    }
    .nav-links{
      margin-top: 6em;
      font-weight: 200;
    }
    .nav-links img{
     width:20px;
     margin-right:10px;
     margin-top:0.5em;
    }
    .active svg{
    fill:#1976D2;
    }
    .nav-links a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
      font-weight:400;
      font-size: 16px;
      line-height: 21px;
      color: #9A9A9A;
    }
     .activeSpan{
      border-left: 5px solid  $base-color;
      background-color: #F3F6FF;
      background-size: cover;
      color: $base-color !important;
   }
   .activeSpan svg{
     fill: #3F75F4;
   }


    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }

    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }
// }

}

